body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
}

.app {
    border: 1px solid red;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 700px;
    background-color: lightgrey;
}

.flex-item {
    border: 1px solid red;
    background-color: white;
    width: 500px;
    height: 500px;
    margin: 10px;
    margin-top: 25px;
}

#title {
  text-align: center;
}


a:hover {
  text-decoration: underline;
}

ul li {
   list-style: none;
   margin-left: -35px;
}
li {
    font-size: 12px;
    margin: 10px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 1px;
    box-shadow: 10px 10px 5px #888888;
}

input {
    margin-left: 10px;
}
button {
    margin: 7px;
}

h4 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid darkslategray;
}